.container {
  padding: var(--p-y-banner) 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--p-y-banner);

    .grid {
      width: 100%;
      display: grid;
      margin: 0 auto;
      grid-template-columns: repeat(5, 1fr);
      gap: 32px;

      @media (max-width: 1720px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 835px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }
    }

    .viewList {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  }
}
